<li class="control-menu-nav-item layout-reports-icon ${cssClass}">
	<button aria-label="${title}" aria-pressed="false" class="btn btn-monospaced btn-sm lfr-portal-tooltip product-menu-toggle sidenav-toggler" data-content="body" data-open-class="lfr-has-layout-reports-panel open-admin-panel open" data-target="#layoutReportsPanelId" data-title="${title}" data-toggle="liferay-sidenav" data-type="fixed-push" data-type-mobile="fixed" id="layoutReportsPanelToggleId">
		${iconTag}
	</button>
</li>

<script>
	Liferay.SideNavigation.initialize(document.getElementById('layoutReportsPanelToggleId'));
</script>