@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.form-group + .page-editor__ColorPicker__color-palette .sheet-subtitle {
			border: none;
		}

		.form-group-sm
			.input-group
			> .input-group-item
			> .input-group-text.page-editor__ColorPicker__input-group-text--rounded-left {
			border-radius: 4px 0 0 4px;
		}

		.page-editor__ColorPicker {
			&__color-palette .sheet-subtitle {
				border-color: $cadmin-secondary-l3;
				border-width: 1px 0 0;
				font-size: 0.75rem;
			}

			&__drilldown {
				.drilldown-item {
					display: block;
					width: 100%;

					.dropdown-item {
						background: none;
						border-bottom: 1px solid $cadmin-secondary-l3;
					}

					&.current {
						visibility: visible;
					}

					&:not(.current) {
						visibility: hidden;
					}

					&:first-child,
					&:last-child.current {
						transform: translateX(-100%);
						transition: all 400ms;
					}

					&:last-child,
					&:first-child.current {
						transform: translateX(0);
						transition: all 400ms;
					}
				}
			}

			&__empty-result {
				.c-empty-state-image {
					max-width: 120px;

					& + .c-empty-state-title {
						font-size: 1rem;
						margin-top: 32px;
					}

					& + .c-empty-state-text {
						margin-top: 4px;
					}
				}
			}
		}
	}
}
