@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin .portlet-ai-creator-openai .lfr-tooltip-scope {
	height: 100%;
}

html#{$cadmin-selector} .cadmin .portlet-ai-creator-openai .card-page {
	.card-page-item-asset {
		padding: 0;
	}

	@media only screen and (min-width: 480px) and (max-width: 768px) {
		margin: auto -0.5rem;

		.card-page-item-asset {
			flex-basis: 50%;
			max-width: 50%;
			padding: 0.5rem;
		}
	}

	@media only screen and (min-width: 768px) {
		margin: auto -0.25rem;

		.card-page-item-asset {
			flex-basis: 25%;
			max-width: 25%;
			padding: 0.25rem;
		}
	}
}
