@import 'atlas-variables';

.asset-type-info-panel {
	.sidebar-layout {
		--sidebar-layout-width: 472px !important;
	}

	.c-slideout .sidebar {
		background-color: $white !important;

		.nav-link {
			&:focus-visible,
			&:hover,
			&.active {
				background-color: transparent;
			}
		}

		.nav-tabs {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.sidebar-header {
			border-bottom-width: 0;
			padding-top: 1.75rem;

			.asset-icon {
				font-size: 20px;

				&-files {
					color: $red-l1;
				}
			}

			.asset-title {
				margin-bottom: 0;
			}
		}

		.asset-type-default-view {
			.c-empty-state-title {
				display: none;
			}

			.c-empty-state-text {
				color: $gray-600;
				margin-top: 2rem;
			}
		}
	}
}
